{% extends 'base.html' %}

{% block title %}Search {% endblock %}

{% block content %}
 <!--breadcrumbs area start-->
 <div class="breadcrumbs_area">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="">home</a></li>
                        <li>{{request.GET.keyword}} </li>
                        <li>All Results:</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

<!--shop  area start-->
<div class="shop_area shop_reverse mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
               <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="shop_sidebar_banner mb-50">
                        <a href="#"><img src="assets/img/bg/banner16.jpg" alt=""></a>
                    </div>
                    <div class="widget_list widget_categories">
                        <h2>categories</h2>
                        <ul>
                            {% for cat in header_categories %}
                            <li>
                                <a href="{% url 'ecomapp:allproducts' cat.slug %}">{{ cat.title }}</a> 
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                   
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->
                <!--shop toolbar start-->                    
                <div class="shop_title">
                    <h1>{{request.GET.keyword}}</h1>
                </div>
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">

                        <button data-role="grid_3" type="button" class="active btn-grid-3" data-bs-toggle="tooltip" title="3"></button>

                        <button data-role="grid_4" type="button"  class=" btn-grid-4" data-bs-toggle="tooltip" title="4"></button>

                        <button data-role="grid_list" type="button"  class="btn-list" data-bs-toggle="tooltip" title="List"></button>
                    </div>
                    
                    
                </div>
                <!--shop toolbar end-->
                 <div class="row no-gutters shop_wrapper">
                    {% for p in results %}
                    <div class="col-lg-4 col-md-4 col-12 ">
                    <div class="single_product">
                        <div class="product_thumb">
                            <a href="{% url 'ecomapp:productdetail' p.slug %}"><img src="{{p.image.url}}"
                                    alt="{{p.title}}" style="max-width: 240px, height:215px;"></a>
                            <div class="quick_button">
                                <a href="{% url 'ecomapp:productdetail' p.slug %}" data-bs-toggle="modal" data-bs-target="#modal_box"
                                    title="quick view"> <i class="zmdi zmdi-eye"></i></a>
                            </div>
                        </div>
                        <div class="product_content">
                            <div class="product_name">
                                <h3><a href="{% url 'ecomapp:productdetail' p.slug %}">{{p.title}}</a></h3>
                                
                            </div>
                            <div class="price_box">
                                <span class="current_price">Rs.{{p.selling_price}}</span>
                                <span class="old_price">Rs. {{p.marked_price}}</span>
                            </div>
                            <div class="action_links">
                                <ul>
                                    
                                    <li class="add_to_cart"><a href="{% url 'ecomapp:addtocart' pro_id=p.id %}" title="add to cart"><i
                                                class="zmdi zmdi-shopping-cart-plus"></i> add to cart</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                    {% endfor %}
                   
                                   
                
                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->

{% endblock %}